.page__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100vw;
    display: flex;
    height: 60px;
    justify-content: space-between;
}
.logo {
    background-color: yellow;
}

.products__content {
    display: flex;
    width: 100vw;
    gap: 10px;
    flex-wrap: wrap;
}